<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="IdentityModel" version="5.0.0" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2021.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Metadata" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Composite" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Embedded" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Identity.Core" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Nito.AsyncEx.Context" version="5.1.0" targetFramework="net48" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.0" targetFramework="net48" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.0" targetFramework="net48" />
  <package id="Nito.Collections.Deque" version="1.1.0" targetFramework="net48" />
  <package id="Nito.Disposables" version="2.2.0" targetFramework="net48" />
  <package id="Refit" version="5.2.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Dynamic.Core" version="1.2.12" targetFramework="net48" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TimeZoneConverter" version="3.5.0" targetFramework="net48" />
  <package id="Volo.Abp.Auditing" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Auditing.Contracts" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.AutoMapper" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Authorization" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Authorization.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.BackgroundWorkers" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Caching" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Core" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Data" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Ddd.Application" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Ddd.Application.Contracts" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Ddd.Domain" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.DistributedLocking.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.EventBus" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.EventBus.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.ExceptionHandling" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Features" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.GlobalFeatures" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Guids" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Http.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Identity.Application" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Identity.Application.Contracts" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Identity.Domain" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Identity.Domain.Shared" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Json" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Localization" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Localization.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.MultiTenancy" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.ObjectExtending" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.ObjectMapping" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.PermissionManagement.Application" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.PermissionManagement.Application.Contracts" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.PermissionManagement.Domain" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.PermissionManagement.Domain.Shared" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Security" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Serialization" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Settings" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Specifications" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Timing" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Threading" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Uow" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Users.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Users.Domain" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Users.Domain.Shared" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Validation" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.Validation.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Volo.Abp.VirtualFileSystem" version="5.0.0" targetFramework="net48" />
</packages>